<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/354885cafc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
<nav>
    <div class="container">
        <div class="title">나의 접종현황
        </div>
    </div>
</nav>

<section>
    <div class="container_form">
        <form method="post">
            <input type="submit" value="예약변경">
        </form>
    </div>
</section>
</body>
</html>