<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/354885cafc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
<nav>
    <div class="container">
        <div class="title">
        </div>
        <div class="menu_bar">
            <ul>
                <li><a href="/login">login</a></li>
                <li><a href="/register">register</a></li>
            </ul>
        </div>
    </div>
</nav>

<section>
    <div class="container_form">
        <form method="post">
            <ul>
                <li>
                    <label>이름</label>
                    <input type="text" name='name' required>
                </li>
                <li>
                    <label>주민등록번호</label>
                    <input type="text" name="registration_number" required>
                </li>
                <li>
                    <label>나이</label>
                    <input type="number" name="age" required>
                </li>
                <li>
                    <label>성별</label>
                    <input type="text" name="sex" required>
                </li>
                <li>
                    <label>전화번호</label>
                    <input type="text" name="phone_number" required>
                </li>
                <li>
                    <label>아이디</label>
                    <input type="text" name='id' required>
                </li>
                <li>
                    <label>비밀번호</label>
                    <input type="text" name="passwd" required>
                </li>
                <li>
                    <label>비밀번호확인</label>
                    <input type="text" name="checkpasswd" required>
                </li>
                <li>
                    <label>province</label>
                    <input type="text" name="province" required>
                </li>
                <li>
                    <label>city</label>
                    <input type="text" name="city" required>
                </li>
                <li>
                    <label>district</label>
                    <input type="text" name="district" required>
                </li>
            </ul>
            <input type="submit" value="회원가입">
        </form>
    </div>
</section>
</body>
</html>