<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/354885cafc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
<nav>
    <div class="container">
        <div class="title">잔여백신현황
    </div>
    </div>
</nav>

<section>
    <div class="container_form">
        <form method="post">
            <label>특정백신</label>
            <input type="submit" value="화이자" name ="vaccine_type">
            <input type="submit" value="모더나" name ="vaccine_type">
            <input type="submit" value="아스트라제네카" name ="vaccine_type">
        </form>
        <form method="post">
            <label>특정지역</label>
            <input type="submit" value="수도권" name ="province">
            <input type="submit" value="강원도" name ="province">
            <input type="submit" value="제주도" name ="province">
        </form>
    </div>
</section>
</body>
</html>